.profile {
  margin: 0 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 0;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
  margin-top: 70px;
}

.form-profile {
  min-width: 100%;
}

.form-profile__wrap {
  position: relative;
  margin-bottom: 17px;
}

.form-profile__container {
  display: flex;
  width: 260px;
  border-bottom: 1px solid #E8E8E8;
}

.form-profile__container_type_email {
  border-bottom: none;
}

.form-profile__label {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #8B8B8B;
  padding-bottom: 16px;
  width: 50%;
}

.form-profile__input {
  margin: 0;
  padding: 0;
  width: 50%;
  padding-bottom: 16px;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}


.form-profile__input:focus-within {
  border-bottom: 1px solid #3456F3;
}

.form-profile__field-error {
  position: absolute;
  left: 0;
  top: 32px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #FF3055;
  visibility: hidden;
}

.form-profile__field-error_visible {
  visibility: visible;
}

.form__button_type_profile {
  margin: 0;
  padding: 0;
  height: auto;
  margin-bottom: 16px;
  margin-top: 346px;
  color: #000000;
  background-color: transparent;
}

.auth__logout {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  color: #FF3055;
}
