.portfolio {
  margin: 70px 14px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.04em;
  margin-bottom: 28px;
  text-align: start;
  padding-bottom: 28px;
  color: #A0A0A0;
}

.portfolio__list {
  list-style-type: none;
  padding: 0;
}

.portfolio__item {
  margin: 0 auto 20px;
  border-bottom: 1px solid #E6E6E6;
}

.portfolio__item:last-of-type {
  margin-bottom: 0;
  border-bottom: none
}

.portfolio__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 19px;
  text-decoration: none;
  color: #000000;
}

.portfolio__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: -0.04em;
}

.portfolio__symbol {
  background-image: url('../../images/portfolio_img.svg');
  width: 11px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 5px;
  margin-bottom: 3px;
}
