.header {
    margin: 0;
    padding: 18px 14px;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.header_active {
  display: flex;
}

.logo {
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: opacity .3s ease-in;
}

.logo:hover {
  opacity: .6;
}

.header__main {
    background-color: #FFFFFF;
}

.header__promo {
    background-color: #073042;
}

.header__sign {
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 56px 141px 50px;
}

.header__promo_disabled {
    display: none;
}

.header__list {
  margin: 0;
  list-style: none;
  display: flex;
}

.header__nav_disabled {
  display: none;
}

.header__nav_item {
    margin: 0;
    padding: 0;
    margin-right: 14px;
}

.header__nav_item:last-of-type {
    margin-right: 0;
}

.header__link {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.6;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity .3s ease-in;
}

.header__link:hover {
  opacity: .6;
}

.header__link_type_button {
    box-sizing: border-box;
    padding: 5px 12px;
    color: #000000;
    background-color: #2BE080;
    border-radius: 3px;
}

.header__burger-menu {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 43px;
    border: none;
    background: transparent url(../../images/burger_menu.svg) no-repeat center;
}

.header__burger-menu_disabled {
    display: none;
}

@media (min-width: 768px) {
  .header {
    padding: 18px 30px;
  }

  .header__nav_item {
    margin-right: 30px;
  }

  .header__link {
    font-size: 12px;
    line-height: 1.33;
  }

  .header__link_type_button {
    padding: 8px 20px;
  }

  .header__sign {
    padding: 232px 544px  40px 186px;
  }
}
