.techs {
  margin: 0px auto;
  max-width: 292px;
  margin-bottom: 140px;
}

.techs__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  margin-bottom: 60px;
  text-align: start;
  padding-bottom: 28px;
  border-bottom: 1px solid #000000;
}

.techs__wrap {
  display: flex;
  flex-direction: column;
}

.techs__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin-bottom: 24px;
  text-align: center;
}

.techs__text {
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.5;
  max-width: 460px;
  text-align: center;
  margin-bottom: 50px;
}

.techs__grid {
  display: grid;
  grid-template-columns: repeat(2, 84px);
  gap: 10px;
  padding: 0 53px;
}

.techs__grid_subtitle {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E8E8E8;
  border-radius: 10px;
  color: #000000;
  height: 57px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: -0.04em;
}

@media (min-width: 768px) {
  .techs {
    max-width: 668px;
    margin-bottom: 90px;
    background-color: #F5F5F5;
    padding: 90px 50px;
  }

  .techs__title {
    font-size: 22px;
    padding-bottom: 23px;
    margin-bottom: 80px;
  }

  .techs__subtitle {
    font-size: 50px;
  line-height: 1.18;
  margin-bottom: 22px;
  }

  .techs__grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
  }

  .techs__grid_subtitle {
    min-width: 84px;
  }
}

@media (min-width: 1280px) {
  .techs {
    max-width: 1140px;
    padding: 100px 70px;
    margin-bottom: 110px;
  }

  .techs__title {
    margin-bottom: 90px;
  }

  .techs__subtitle {
    margin-bottom: 26px;
  }

  .techs__text {
    margin-bottom: 100px;
  }
}
